
/*Selector de descendientes: operador es el espacio*/
section p {
    color: black;
}

h2 {
    background-color: blue;
    color: aqua

}

/*Selector de hijo: operador >*/


/*Selector de hermanos adyacentes: operador +*/

div+p {
    color: darkgoldenrod
}

/*Selector de hermanos: operador ~ (virgulilla) (se saca con alt-gr 4 espacio)*/

div~p {
    color: darkblue
}

<img src="./assets/flamenca.jpg" alt="flamenca">

footer {
    background: #565454;
    color: #ffffff;
    padding-top: 3rem;
    padding-bottom: 1rem;
   }

footer p {
    background-color: thistle;
        text-align: center;
}

aside{
    color: coral
}

