section p::first-letter       {
    font-size: 4rem;
}

aside p::first-line{
    font-size: 1.3rem;
    font-weight: bold
}

section div p::before{
    content: ""
}

p:hover {
    color: brown
    }

a:visited {
        color: chocolate
    }
section p:nth-child(1) {
        color: aqua
    }

    section p:nth-of-type(even) {
        color: blue
    }

/* *{
    display: inline;
} 
*/

/*Herencia: 
-la fuente sí se hereda
-el borde no se hereda
*/

body{
    font-family: 'Roboto Slab', serif;
    border:  1px solid
    }

head{
    font-family: 'Pacifico', cursive;
}
